<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/oldstyle.css">
    <link rel="stylesheet" href="/stylesheets/states.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>

    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<script src="/javascripts/moment.js"></script>

    <!-- jQuery CDN -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>	
    <!-- JS file -->
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>
    <!-- CSS file -->
    <link rel="stylesheet" href="/stylesheets/easy-autocomplete.min.css">

    <title>Supersonic Rocket Ship</title>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-5" id="c19" onclick="act(this)" href="http://localhost:5000">Covid<span>19</span> </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a id="nav-home" class="nav-link" onclick="act(this)"  href="http://localhost:5000">Home</a>
        </li>
        <li class="nav-item">
          <a id="nav-p" class="nav-link" onclick="act(this)" href="http://localhost:5000/prevention">About</a>
        </li>
        <li class="nav-item">
          <a id="nav-s"  class="nav-link" onclick="act(this)" href="http://localhost:5000/extra">EXTRA</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" >
        <input id="basics" class="form-control mr-sm-2" type="search" placeholder="region" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" onclick="act(this)" type="submit"><i class="fas fa-search 2x"></i></button>
      </form>
  </div>
</nav>
  